@using negocio.models
@{
    ViewData["Title"] = "Produtos - em - Estoque";
}
<div class="text-center">
    <h1 class="display-4">Produtos em Estoque</h1>
    <br>
    <a href="/produtos" class="btn btn-default">Voltar</a>
    <br>
    <br>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Data de Validade</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Produto produto in ViewBag.listaDeProdutosAVencer)
    {
      <tr>
        <td>@produto.Nome</td>
        <td>@produto.Quantidade</td>
         @if (@produto.Data_vencimento < DateTime.Now)
        {
          <td style="color: red;">@produto.Data_vencimento</td>
        } else if (@produto.Data_vencimento > DateTime.Now && @produto.Data_vencimento < DateTime.Now.AddDays(3))
        {
          <td style="color: darkorange;">@produto.Data_vencimento</td>
        } else 
        {
          <td style="color: green;">@produto.Data_vencimento</td>
        }
      </tr>
    }
  </tbody>
</table>
</div>
