@model IEnumerable<LocacaoVeiculos.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="btn btn-primary"><a asp-action="Create" class="text-white text-decoration-none">Create New</a></button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                    <button class="btn btn-warning">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="text-white text-decoration-none">Edit</a></button>
                    <button class="btn btn-info"><a asp-action="Details" asp-route-id="@item.Id" class="text-white text-decoration-none">Details</a></button>
                    <button class="btn btn-danger"><a asp-action="Delete" asp-route-id="@item.Id" class="text-white text-decoration-none">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
