@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">
    <h1 class="display-4">Lista de clientes</h1>
</div>

<hr>
<a href="/clientes/novo" class="btn btn-primary">Novo</a>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th style="width: 30px;" scope="col"></th>
      <th style="width: 30px;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (Cliente cliente in ViewBag.clientes)
    {
        <tr>
            <th scope="row">@cliente.Id</th>
            <td>@cliente.Nome</td>
            <td>@cliente.Email</td>
            <td>
                <a href="/clientes/@cliente.Id/editar" class="btn btn-warning">Editar</a>
            </td>
            <td>
                <a href="#" onclick="excluir(@cliente.Id)" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
    }
  </tbody>
</table>

<br>
<br>
<br>
<br>
<br>
<br>

@if (ViewBag.fornecedores is not null)
{
  <div class="text-center">
    <h1 class="display-4">Lista de fornecedores</h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th style="width: 30px;" scope="col"></th>
        <th style="width: 30px;" scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (Fornecedor fornecedor in ViewBag.fornecedores)
      {
          <tr>
              <th scope="row">@fornecedor.Id</th>
              <td>@fornecedor.Nome</td>
              <td>@fornecedor.Email</td>
              <td>
                  <a href="/fornecedores/@fornecedor.Id/editar" class="btn btn-warning">Editar</a>
              </td>
              <td>
                  <a href="#" onclick="excluir(@fornecedor.Id)" class="btn btn-danger">Apagar</a>
              </td>
          </tr>
      }
    </tbody>
  </table>
}

<script>
  const excluir = (id) => {
    if(confirm('Confirma?'))
    {
      window.location.href = `/clientes/${id}/deletar`;
    }
  }
</script>
