@using negocio.models
@{
    ViewData["Title"] = "Produtos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Produtos</h1>
<br>
    <a href="/produtos/novo" class="btn btn-primary">Novo</a>
<br><br><br>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Data de Vaildade</th>
      <th scope="col">Data de criação</th>
      <th style="width: 30px;" scope="col"></th>
      <th style="width: 30px;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (Produto produto in ViewBag.produtos)
    {
      <tr>
        <th scope="row">@produto.Id</th>
        <td>@produto.Nome</td>
        <td>@produto.Descricao</td>
        <td>@produto.Quantidade</td>
        <td>@produto.data_vencimento</td>
        <td>@produto.created_at</td>
        <td><a href="/produtos/@produto.Id/editar" class="btn btn-warning">Editar</a></td>
        <td><a onclick="excluir(@produto.Id)" href="#" class="btn btn-danger">Apagar</a></td>
      </tr>
    }
  </tbody>
</table>
</div>

<script>
  const excluir = (id)=> {
    if(confirm('Confirma exclusão ?'))
    {
      window.location.href = '/produtos/' + id + '/deletar';
    }
  }
</script>