@using Negocio.Entidades
@{
  ViewData["Title"] = "Produtos";
}

<div class="text-center">
  <h1 class="display-4">Lista de produtos</h1>
</div>

<hr>
<a href="/produtos/novo" class="btn btn-primary">Novo</a>
<hr>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data de criação</th>
      <th scope="col">Data de validade</th>
      <th scope="col">Quantidade em estoque</th>
      <th style="width: 30px;" scope="col"></th>
      <th style="width: 30px;" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (Produto produto in ViewBag.produtos)
    {
        <tr>
            <th scope="row">@produto.Id</th>
            <td>@produto.Nome</td>
            <td>@produto.Descricao</td>
            <td>@produto.DataCriacao.ToString("dd/mm/yy HH:MM")</td>
            <td>@produto.DataValidade.ToString("dd/mm/yy HH:MM")</td>
            <td>@(produto.QuantidadeEstoque < 0 ? 0 : produto.QuantidadeEstoque)</td>
            <td>
                <a href="/produtos/@produto.Id/editar" class="btn btn-warning">Editar</a>
            </td>
            <td>
                <a href="#" onclick="excluir(@produto.Id)" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
    }
  </tbody>
</table>

<script>
  const excluir = (id) => {
    if(confirm('Confirma?'))
    {
      window.location.href = `/produtos/{id}/deletar`;
    }
  }
</script>